demo/schema/share.xsd

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  attributeFormDefault="qualified"
  elementFormDefault="qualified"
  targetNamespace="https://hyperview.org/share"
>
  <xs:attributeGroup name="shareAttributes">
    <xs:attribute name="dialog-title" type="xs:string" />
    <xs:attribute name="message" type="xs:string" />
    <xs:attribute name="subject" type="xs:string" />
    <xs:attribute name="title" type="xs:string" />
    <xs:attribute name="url" type="xs:string" />
  </xs:attributeGroup>
</xs:schema>
