examples/schema.xml

<?xml version = "1.0"?>

<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema"
   targetNamespace = "https://instawork.com/hyperview" 
   xmlns = "https://instawork.com/hyperview"
   elementFormDefault="qualified">

   <xs:element name='doc'>
      <xs:complexType>
         <xs:sequence>
            <xs:element name='screen' type='ScreenType' minOccurs='0' maxOccurs='unbounded' />
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:complexType name="ScreenType">
      <xs:sequence>
        <xs:element name='styles' type='StylesType' minOccurs='0' maxOccurs='1' />
      </xs:sequence>
      <xs:attribute name='id' type='xs:IDREF'/>
      <xs:attribute name='scroll' type='xs:boolean'/>
   </xs:complexType>

   <xs:complexType name="StylesType">
      <xs:sequence>
        <xs:element name='style' type='StyleType' minOccurs='0' maxOccurs='unbounded' />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="StyleType">
     <xs:attribute name='id' type='xs:IDREF'/>
   </xs:complexType>
   
</xs:schema>
