schema/amplitude.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  attributeFormDefault="qualified"
  elementFormDefault="qualified"
  targetNamespace="https://instawork.com/hyperview-amplitude"
>
  <xs:attributeGroup name="amplitudeAttributes">
    <xs:attribute name="event" type="xs:string" />
    <xs:attribute name="event-props" type="xs:string" />
    <xs:attribute name="user-properties" type="xs:string" />
  </xs:attributeGroup>
</xs:schema>
