schema/intercom.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  attributeFormDefault="qualified"
  elementFormDefault="qualified"
  targetNamespace="https://instawork.com/hyperview-intercom"
>
  <xs:attributeGroup name="intercomAttributes">
    <xs:attribute name="action" type="xs:string" />
    <xs:attribute name="topic" type="xs:string" />
    <xs:attribute name="mode" type="xs:string" />
    <xs:attribute name="message" type="xs:string" />
  </xs:attributeGroup>
</xs:schema>
