schema/redux.xsd

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  attributeFormDefault="qualified"
  elementFormDefault="qualified"
  targetNamespace="https://instawork.com/hyperview-redux"
>
  <xs:attributeGroup name="reduxAttributes">
    <xs:attribute name="action" type="xs:string" />
    <xs:attribute name="extra" type="xs:string" />
  </xs:attributeGroup>
</xs:schema>
