schema/session-recording.xsd

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  attributeFormDefault="qualified"
  elementFormDefault="qualified"
  targetNamespace="https://instawork.com/hyperview-session-recording"
>
  <xs:attributeGroup name="sessionRecordingAttributes">
    <xs:attribute name="event" type="xs:string" />
    <xs:attribute name="event-props" type="xs:string" />
    <xs:attribute name="user-properties" type="xs:string" />
  </xs:attributeGroup>
</xs:schema>
